In [1]:
import pandas as pd

accommodation = pd.read_csv('../data/accommodation.csv')
listing = pd.read_csv('listings.csv')

In [2]:
accommodation.columns

Index(['id', 'host_id', 'neighbourhood_id', 'name', 'description', 'latitude',
       'longitude', 'room_type', 'short_description', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'amenities', 'price', 'minimum_nights',
       'maximum_nights', 'review_num', 'review_avg', 'review_cleanliness',
       'review_checkin', 'review_location', 'airbnb_danger',
       'airbnb_danger_normalized'],
      dtype='object')

In [7]:
link = listing[['id', 'listing_url']]

In [13]:
link.rename(columns={'listing_url':'link'}, inplace=True)

/var/folders/h4/c7cjl3v14579slvycnln3g1c0000gn/T/ipykernel_31365/909677130.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  link.rename(columns={'listing_url':'link'}, inplace=True)

In [14]:
link

             id                                   link
0       9630344   https://www.airbnb.com/rooms/9630344
1       3533741   https://www.airbnb.com/rooms/3533741
2       9731039   https://www.airbnb.com/rooms/9731039
3      21736164  https://www.airbnb.com/rooms/21736164
4      22280002  https://www.airbnb.com/rooms/22280002
...         ...                                    ...
38787  27697402  https://www.airbnb.com/rooms/27697402
38788  11871903  https://www.airbnb.com/rooms/11871903
38789   9686167   https://www.airbnb.com/rooms/9686167
38790  52459126  https://www.airbnb.com/rooms/52459126
38791  52838667  https://www.airbnb.com/rooms/52838667

[38792 rows x 2 columns]

In [15]:
new_csv = pd.merge(accommodation, link, how='left', on='id')
new_csv

,id,host_id,neighbourhood_id,name,description,latitude,longitude,room_type,short_description,accommodates,...,minimum_nights,maximum_nights,review_num,review_avg,review_cleanliness,review_checkin,review_location,airbnb_danger,airbnb_danger_normalized,link
0,21736164,4298654,51,"Light-filled 1BR Brownstone Apartment, Bed Stu...","Light-filled, high-ceilinged 1BR brownstone ap...",40.68180,-73.93121,Entire home/apt,Rental unit in Brooklyn · 1 bedroom · 1 bed · ...,2,...,45,1125,2,5.00,5.00,5.00,5.00,4.00,0.000081,https://www.airbnb.com/rooms/21736164
1,22280002,67373899,51,Stuyvesant Heights Loft like Apartment.,This is a comfortable super spacious sunny 1 b...,40.68209,-73.94279,Entire home/apt,Rental unit in Brooklyn · ★4.98 · 1 bedroom · ...,4,...,30,180,88,4.98,4.99,4.95,4.94,1.14,0.000023,https://www.airbnb.com/rooms/22280002
2,3539618,506909,110,Large modern studio in Gramercy,This is a large alcove studio in a new buildin...,40.73779,-73.98032,Entire home/apt,Rental unit in New York · ★4.67 · Studio · 1 b...,2,...,30,1125,9,4.67,4.78,4.89,4.67,4.99,0.000101,https://www.airbnb.com/rooms/3539618
3,9710620,7027191,66,1-bed Apt in Crown Heights,"If you request a stay, please send an intro wi...",40.67742,-73.94956,Entire home/apt,Rental unit in Brooklyn · ★5.0 · 1 bedroom · 2...,2,...,30,90,6,5.00,4.83,5.00,5.00,4.17,0.000084,https://www.airbnb.com/rooms/9710620
4,35430378,266645207,176,Enchanted room 5 mins from JFK/ LGA 15 mins away,"Convenient, quiet ,sparkling clean and relaxin...",40.66262,-73.74880,Private room,"Home in Laurelton , Queens · ★4.70 · 1 bedroo...",1,...,30,30,63,4.70,4.83,4.73,4.75,4.99,0.000101,https://www.airbnb.com/rooms/35430378
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10961,322037,1649300,95,"Luxury Williamsburg, Brooklyn LOFT","Luxurious, spacious loft in prime location in ...",40.71923,-73.95820,Entire home/apt,Rental unit in Brooklyn · ★4.82 · 1 bedroom · ...,5,...,30,150,284,4.82,4.73,4.86,4.97,4.62,0.000093,https://www.airbnb.com/rooms/322037
10962,148825,718349,126,Best City Area Columbia U Upper West Side C Park,Close to Columbia / C Park and everything else...,40.79999,-73.96338,Entire home/apt,Rental unit in New York · ★4.75 · 2 bedrooms ·...,3,...,30,180,301,4.75,4.48,4.94,4.83,2.00,0.000040,https://www.airbnb.com/rooms/148825
10963,27697402,21020951,51,Sunny and Bright Room,Clean and very sunny room with a comfortable f...,40.69448,-73.93722,Private room,Rental unit in Brooklyn · ★4.78 · 1 bedroom · ...,1,...,30,30,18,4.78,4.89,5.00,4.61,1.72,0.000035,https://www.airbnb.com/rooms/27697402
10964,11871903,50032395,126,Cozy Bedroom on UWS steps to CPW !!,A wonderful sunny apartment that has everythin...,40.80243,-73.96719,Private room,Rental unit in New York · 1 bedroom · 1 bed · ...,2,...,30,1125,1,5.00,5.00,5.00,5.00,4.00,0.000081,https://www.airbnb.com/rooms/11871903
10965,9686167,50032395,126,Beautiful Large Bedroom on UWS !!,A wonderful sunny apartment that has everythin...,40.80213,-73.96626,Private room,Rental unit in New York · ★5.0 · 1 bedroom · 1...,2,...,30,1125,7,5.00,5.00,4.71,5.00,4.29,0.000086,https://www.airbnb.com/rooms/9686167

In [16]:
accommodation.shape

(10966, 24)

In [17]:
new_csv.shape

(10966, 25)

In [19]:
new_csv.to_csv('accommodation.csv')

In [20]:
link_csv = new_csv[['id', 'link']]

In [21]:
link_csv.shape

(10966, 2)

In [23]:
link_csv

             id                                   link
0      21736164  https://www.airbnb.com/rooms/21736164
1      22280002  https://www.airbnb.com/rooms/22280002
2       3539618   https://www.airbnb.com/rooms/3539618
3       9710620   https://www.airbnb.com/rooms/9710620
4      35430378  https://www.airbnb.com/rooms/35430378
...         ...                                    ...
10961    322037    https://www.airbnb.com/rooms/322037
10962    148825    https://www.airbnb.com/rooms/148825
10963  27697402  https://www.airbnb.com/rooms/27697402
10964  11871903  https://www.airbnb.com/rooms/11871903
10965   9686167   https://www.airbnb.com/rooms/9686167

[10966 rows x 2 columns]

In [1]:
import pandas as pd

crime = pd.read_csv('../data/crime.csv')

/var/folders/h4/c7cjl3v14579slvycnln3g1c0000gn/T/ipykernel_36023/2408493738.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  crime = pd.read_csv('../data/crime.csv')

In [2]:
crime.columns

Index(['crime_id', 'precinct', 'neighbourhood_group', 'date', 'crime_type',
       'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX', 'Latitude', 'Longitude',
       'Lat_Lon'],
      dtype='object')

In [4]:
crime['VIC_RACE'].unique()

array(['WHITE HISPANIC', 'UNKNOWN', 'WHITE', 'ASIAN PACIFIC ISLANDER',
       'BLACK', 'BLACK HISPANIC', 'AMERICAN INDIAN ALASKAN NATIVE'],
      dtype=object)

In [5]:
crime['VIC_AGE_GROUP'].unique()

array(['18-24', 'UNKNOWN', '25-44', '45-64', '<18', '65+'], dtype=object)

'<18', '18-24', '25-44', '45-64', '65+', 'UNKNOWN'

In [2]:
crime_race = pd.DataFrame(crime['VIC_RACE'].value_counts()).reset_index()

In [3]:
crime_race

                         VIC_RACE  count
0                         UNKNOWN  18684
1                           BLACK  15130
2                  WHITE HISPANIC  13402
3                           WHITE  12065
4          ASIAN PACIFIC ISLANDER   7251
5                  BLACK HISPANIC   3364
6  AMERICAN INDIAN ALASKAN NATIVE    308

In [20]:
(crime_race.loc[crime_race['VIC_RACE'] == 'ASIAN PACIFIC ISLANDER', 'count'] / sum(crime_race['count'])).iloc[0]

0.10328471312175945

In [15]:
sum(crime_race['count'])

70204

In [17]:
7251/70204

0.10328471312175945