In [1]:
import pandas as pd

In [2]:
airbnb = pd.read_csv('airbnb_preprocessed.csv')
crime = pd.read_csv('crime_preprocessed.csv')

# airbnb_preprocessed.csv
    - id (숙소번호)
    - name_y (숙소이름)
    - description (세부설명)
    - host_id (호스트번호)
    - host_name (호스트이름)
    - host_is_superhost (슈퍼호스트) : f, t
    - neighbourhood_cleansed (neighbourhood)
    - neighbourhood_group_cleansed (자치구) : Brooklyn, Manhattan, Queens, Bronx, Staten Island
    - latitude (위도)
    - longitude (경도)
    - room_type (숙소유형) : Entire home/apt, Private room, Shared room, Hotel room
    - name_x (숙소유형+침실,침대,화장실)
    - accommodates (수용인원)
    - amenities (어메니티)
    - price (가격)
    - minimum_nights (최소기간)
    - maximum_nights (최대기간)
    - number_of_reviews (리뷰개수)
    - review_scores_rating (별점평균)
    - review_scores_cleanliness (별점위생)
    - review_scores_checkin (별점체크인)
    - review_scores_location (별점위치)

In [5]:
airbnb.shape

(11060, 23)

In [3]:
airbnb.columns

Index(['id', 'name_y', 'description', 'host_id', 'host_name',
       'host_is_superhost', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'precinct', 'latitude', 'longitude',
       'room_type', 'name_x', 'accommodates', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'number_of_reviews',
       'review_scores_rating', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_location'],
      dtype='object')

In [6]:
airbnb.head()

,id,name_y,description,host_id,host_name,host_is_superhost,neighbourhood_cleansed,neighbourhood_group_cleansed,precinct,latitude,...,accommodates,amenities,price,minimum_nights,maximum_nights,number_of_reviews,review_scores_rating,review_scores_cleanliness,review_scores_checkin,review_scores_location
0,21736164,"Light-filled 1BR Brownstone Apartment, Bed Stu...","Light-filled, high-ceilinged 1BR brownstone ap...",4298654,Sam,f,Bedford-Stuyvesant,Brooklyn,79,40.68180,...,2,"[""Smoke alarm"", ""Kitchen"", ""Shampoo"", ""Long te...",$70.00,45,1125,2,5.00,5.00,5.00,5.00
1,22280002,Stuyvesant Heights Loft like Apartment.,This is a comfortable super spacious sunny 1 b...,67373899,Will,t,Bedford-Stuyvesant,Brooklyn,79,40.68209,...,4,"[""Clothing storage: closet and dresser"", ""Micr...",$170.00,30,180,88,4.98,4.99,4.95,4.94
2,3539618,Large modern studio in Gramercy,This is a large alcove studio in a new buildin...,506909,Nevena,f,Kips Bay,Manhattan,17,40.73779,...,2,"[""Smoke alarm"", ""Kitchen"", ""Washer"", ""Essentia...",$170.00,30,1125,9,4.67,4.78,4.89,4.67
3,9710620,1-bed Apt in Crown Heights,"If you request a stay, please send an intro wi...",7027191,Matthew,f,Crown Heights,Brooklyn,77,40.67742,...,2,"[""Clothing storage: closet and dresser"", ""Baki...",$72.00,30,90,6,5.00,4.83,5.00,5.00
4,35430378,Enchanted room 5 mins from JFK/ LGA 15 mins away,"Convenient, quiet ,sparkling clean and relaxin...",266645207,Michael And Carrol,f,Springfield Gardens,Queens,113,40.66262,...,1,"[""Clothing storage: closet and dresser"", ""Micr...",$75.00,30,30,63,4.70,4.83,4.73,4.75

# crime_preprocessed.csv
        - CMPLNT_NUM (사건번호)
        - ADDR_PCT_CD (precinct)
        - BORO_NM (자치구 이름) : Bronx, Queens, Brooklyn, Manhattan, Staten Island, (null)
        - CMPLNT_FR_DT (사건발생일자) : YYYY-MM-DD
        - CMPLNT_FR_TM (사건발생시각) : HH:MM:SS
        - OFNS_DESC (범죄유형)
        - VIC_AGE_GROUP (피해자연령대) : <18, 18-24, 25-44, 45-64, 65+, UNKNOWN
        - VIC_RACE (피해자인종) : WHITE HISPANIC, BLACK, BLACK HISPANIC, ASIAN / PACIFIC ISLANDER, WHITE, AMERICAN INDIAN/ALASKAN NATIVE, UNKNOWN
        - VIC_SEX (피해자성별) : M, F, D, E, L
        - Latitude (위도)
        - Longitude (경도)
        - Lat_Lon (위도,경도 pair)

In [7]:
crime.shape

(90373, 12)

In [8]:
crime.columns

Index(['CMPLNT_NUM', 'ADDR_PCT_CD', 'BORO_NM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM',
       'OFNS_DESC', 'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX', 'Latitude',
       'Longitude', 'Lat_Lon'],
      dtype='object')

In [9]:
crime.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,OFNS_DESC,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,Latitude,Longitude,Lat_Lon
0,264551409,43.0,Bronx,2023-03-04,12:55:00,ROBBERY,18-24,WHITE HISPANIC,M,40.822882,-73.848929,"(40.822882, -73.848929)"
1,267991366,106.0,Queens,2001-05-01,06:00:00,RAPE,25-44,BLACK,F,40.682398,-73.840072,"(40.682398279333, -73.8400721577516)"
2,261359508,47.0,Bronx,2022-11-19,14:00:00,GRAND LARCENY,45-64,BLACK,F,40.899682,-73.854746,"(40.899682, -73.854746)"
3,269703511,67.0,Brooklyn,2023-01-01,00:01:00,GRAND LARCENY,65+,BLACK,M,40.644227,-73.953826,"(40.644227, -73.953826)"
4,263222753,20.0,Manhattan,2022-07-20,12:30:00,GRAND LARCENY,45-64,WHITE HISPANIC,F,40.773335,-73.988123,"(40.773335, -73.988123)"

In [11]:
crime['OFNS_DESC'].value_counts()

OFNS_DESC
GRAND LARCENY                      24349
FELONY ASSAULT                     13409
MISCELLANEOUS PENAL LAW             8201
ROBBERY                             7807
GRAND LARCENY OF MOTOR VEHICLE      7536
CRIMINAL MISCHIEF & RELATED OF      7502
BURGLARY                            6889
DANGEROUS DRUGS                     3352
FORGERY                             2890
DANGEROUS WEAPONS                   2650
THEFT-FRAUD                         2234
NYS LAWS-UNCLASSIFIED FELONY         726
RAPE                                 722
POSSESSION OF STOLEN PROPERTY        698
SEX CRIMES                           653
ARSON                                319
MURDER & NON-NEGL. MANSLAUGHTER      165
CANNABIS RELATED OFFENSES             75
KIDNAPPING & RELATED OFFENSES         65
CHILD ABANDONMENT/NON SUPPORT         40
OTHER STATE LAWS (NON PENAL LA        28
PROSTITUTION & RELATED OFFENSES       22
HOMICIDE-NEGLIGENT,UNCLASSIFIE        20
ENDAN WELFARE INCOMP                   6
KIDNAPPING                             5
INTOXICATED/IMPAIRED DRIVING           4
FELONY SEX CRIMES                      3
GAMBLING                               3
Name: count, dtype: int64